@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.logo {
    font-family: 'Dancing Script', sans-serif;
    font-size: 48;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}