@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(rgb(153, 107, 153), rgba(214, 108, 162, 1), rgba(223, 174, 204, 1));
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30 px 100 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    height: auto;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: azure;
    border-radius: 20px;
    font-family: 'Nunito';
}

header ul li a:hover,
a.active {
    background: azure;
    color: rgba(197, 60, 197, 1);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(215, 131, 177, 1), transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#un {
    z-index: 10;
}

section img#stars {
    mix-blend-mode: lighten;
}

#hello {
    position: relative;
    left: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 10vw;
    z-index: 9;
    width: auto;
}

#button {
    position: absolute;
    text-decoration: none;
    display: inline-flex;
    padding: 8px 30px;
    border-radius: 20px;
    background: #fff;
    color: rgba(214, 108, 162, 1);
    font-size: 1.5em;
    z-index: 10;
    transform: translateY(100px);
    mix-blend-mode: screen;

}

.about_me {
    position: relative;
    padding: 100px;
    background: rgba(215, 131, 177, 1);
}

.about_me h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.about_me p {
    font-size: 1.2em;
    color: #fff;
}